<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b58bd3">  <td>21/07/10 14:52:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.leafBot.testcases.TC001_LoginLogOut@72f926e6]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1820383114</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>21/07/10 14:52:47</td>   <td>-253</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.leafBot.testcases.TC001_LoginLogOut@72f926e6]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1820383114</td>   <td></td> </tr>
<tr bgcolor="777aab">  <td>21/07/10 14:52:47</td>   <td>-269</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginLogOut.setValues()[pri:0, instance:com.leafBot.testcases.TC001_LoginLogOut@72f926e6]">&gt;&gt;setValues</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1820383114</td>   <td></td> </tr>
<tr bgcolor="b58bd3">  <td>21/07/10 14:52:46</td>   <td>-817</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:com.leafBot.testcases.TC001_LoginLogOut@72f926e6]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1820383114</td>   <td></td> </tr>
<tr bgcolor="b58bd3">  <td>21/07/10 14:52:48</td>   <td>1155</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:com.leafBot.testcases.TC001_LoginLogOut@72f926e6]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1820383114</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>21/07/10 14:52:48</td>   <td>1100</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.leafBot.testcases.TC001_LoginLogOut@72f926e6]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1820383114</td>   <td></td> </tr>
</table>
