<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="dafa95">  <td>21/09/28 18:47:01</td>   <td>0</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:com.leafBot.testcases.TC001_LoginLogOut@1f28c152]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>21/09/28 18:47:02</td>   <td>963</td> <td>&nbsp;</td><td title="&gt;&gt;TC001_LoginLogOut.setValues()[pri:0, instance:com.leafBot.testcases.TC001_LoginLogOut@1f28c152]">&gt;&gt;setValues</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>21/09/28 18:47:02</td>   <td>963</td> <td>&nbsp;</td><td title="&gt;&gt;TC003_CreateLead.setData()[pri:0, instance:com.leafBot.testcases.TC003_CreateLead@7d907bac]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/28 18:47:02</td>   <td>1004</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.leafBot.testcases.TC001_LoginLogOut@1f28c152]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@997079024</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/28 18:47:02</td>   <td>1005</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.leafBot.testcases.TC003_CreateLead@7d907bac]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-2@1568193007</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>21/09/28 18:47:02</td>   <td>1292</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.leafBot.testcases.TC001_LoginLogOut@1f28c152]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@997079024</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>21/09/28 18:47:02</td>   <td>1292</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.leafBot.testcases.TC003_CreateLead@7d907bac]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-2@1568193007</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>21/09/28 18:47:04</td>   <td>3036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethods.beforeMethod()[pri:0, instance:com.leafBot.testcases.TC001_LoginLogOut@1f28c152]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@997079024</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>21/09/28 18:47:04</td>   <td>3036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethods.beforeMethod()[pri:0, instance:com.leafBot.testcases.TC003_CreateLead@7d907bac]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@1568193007</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>21/09/28 18:47:16</td>   <td>14861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginLogOut.createLeaf(java.lang.String, java.lang.String)[pri:0, instance:com.leafBot.testcases.TC001_LoginLogOut@1f28c152]">createLeaf</td> 
  <td>TestNG-test=Test-1@997079024</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>21/09/28 18:47:16</td>   <td>15043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.leafBot.testcases.TC003_CreateLead@7d907bac]">createLead</td> 
  <td>TestNG-test=Test-2@1568193007</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>21/09/28 18:47:22</td>   <td>21029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethods.afterMethod()[pri:0, instance:com.leafBot.testcases.TC001_LoginLogOut@1f28c152]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@997079024</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>21/09/28 18:47:25</td>   <td>23895</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethods.beforeMethod()[pri:0, instance:com.leafBot.testcases.TC001_LoginLogOut@1f28c152]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@997079024</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>21/09/28 18:47:30</td>   <td>28631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginLogOut.createLeaf(java.lang.String, java.lang.String)[pri:0, instance:com.leafBot.testcases.TC001_LoginLogOut@1f28c152]">createLeaf</td> 
  <td>TestNG-test=Test-1@997079024</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>21/09/28 18:47:33</td>   <td>31638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethods.afterMethod()[pri:0, instance:com.leafBot.testcases.TC001_LoginLogOut@1f28c152]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@997079024</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>21/09/28 18:47:33</td>   <td>32246</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethods.beforeMethod()[pri:0, instance:com.leafBot.testcases.TC001_LoginLogOut@1f28c152]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@997079024</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>21/09/28 18:47:38</td>   <td>36647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginLogOut.createLeaf(java.lang.String, java.lang.String)[pri:0, instance:com.leafBot.testcases.TC001_LoginLogOut@1f28c152]">createLeaf</td> 
  <td>TestNG-test=Test-1@997079024</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>21/09/28 18:47:43</td>   <td>41875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethods.afterMethod()[pri:0, instance:com.leafBot.testcases.TC001_LoginLogOut@1f28c152]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-1@997079024</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>21/09/28 18:48:23</td>   <td>82040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethods.afterMethod()[pri:0, instance:com.leafBot.testcases.TC003_CreateLead@7d907bac]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@1568193007</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/28 18:48:35</td>   <td>93898</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.leafBot.testcases.TC001_LoginLogOut@1f28c152]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@997079024</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>21/09/28 18:49:27</td>   <td>146257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectSpecificMethods.beforeMethod()[pri:0, instance:com.leafBot.testcases.TC003_CreateLead@7d907bac]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@1568193007</td>   <td></td> </tr>
<tr bgcolor="93948d">  <td>21/09/28 18:49:31</td>   <td>149938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.leafBot.testcases.TC003_CreateLead@7d907bac]">createLead</td> 
  <td>TestNG-test=Test-2@1568193007</td>   <td></td> </tr>
<tr bgcolor="bf97b9">  <td>21/09/28 18:49:51</td>   <td>170105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectSpecificMethods.afterMethod()[pri:0, instance:com.leafBot.testcases.TC003_CreateLead@7d907bac]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>TestNG-test=Test-2@1568193007</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>21/09/28 18:49:51</td>   <td>170382</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.leafBot.testcases.TC003_CreateLead@7d907bac]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-2@1568193007</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>21/09/28 18:49:51</td>   <td>170475</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:com.leafBot.testcases.TC001_LoginLogOut@1f28c152]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@525683462</td>   <td></td> </tr>
</table>
